.jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 0rem;
    /*visibility: hidden;
    height: 110vh;*/
}
.rffi { font-size: 0.9rem; }
.navbar-brand { left: 10px }
@font-face {
    font-family: "Stolz Thin";
    src: url("stolz_thin.otf");
}
@font-face {
    font-family: "Stolz Light";
    src: url("stolz_light.otf");
}
@font-face {
    font-family: "Stolz Book";
    src: url("stolz_book.otf");
}
@font-face {
    font-family: "Stolz Medium";
    src: url("stolz_medium.otf");
}
@font-face {
    font-family: "GuberniaTyg";
    src: url("gubernia.ttf");
}
@font-face {
font-family: "Caviar Dreams";
src: url("caviar.ttf");
}
@font-face {
    font-family: "South Park Cyrillic";
    src: url("south_park.ttf");
}
.nav-item {
    font-family: "Stolz Light";
    font-size: 3px;
}
#ornament-f {
    background-image: url(//digital-mansi.com/ornament2.png);
    background-size: 340px;
    background-position-x: -5px;
}
#ornament-s {
    background-image: url(//digital-mansi.com/ornament2.png);
    background-size: 340px;
    background-position-x: -135px;
}
.footer {
    box-shadow: 0 -1px 2px 0 rgba(0,0,0,0.5);
}
li.media div a {
    color: #20932b;
    font-weight: bold;
}
ul li.media {
    margin-bottom: 20px;
}
ul li img {
    border-radius: 50%;
}
li.media p {
    margin-bottom: 0.5rem;
}
h5 {
    font-size: 0.9rem !important;
    line-height: 0.6;
}
